<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    Hello Team this is test page with code GHZ782155
    <div>
        <img class="pic" src="/images/pic1.jpg" alt="pic1 is not load" />
    </div>
</body>

</html>