body{
    background-color: #3596A0;
}
header, footer{
    min-height: 100px;
    max-height: 40%;
    background-color: #69DBD1;
}
footer{
    min-height: 120px;
    max-height: 20%;
    background-color: #69DBD1;
}
.input-form-field{
    margin: 0% 15% 0% 15%;
}
.hidden {
    display: none;
}
.img-thumbnail{
    width: 25% !important;
    height: auto !important;
}

.content-image{
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
}

#notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    display: none;
    justify-content: center;
    align-items: center;
}

#notification-dot.active {
    display: flex;
}
